@model LoginViewModel
@{
    ViewData["Title"] = "Profile";
}
<div class="container">


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6">
        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <form method="Post" asp-action="ProfileChangeUsername">
            <div class="form-group">
                <label class="form-label">Username</label>
                <div class="input-group mb-3">

                    <input name="Username" type="text" class="form-control" placeholder="John Doe" value="@ViewBag.Username">
                    <button class="btn btn-secondary" type="Submit"><i class="fa-solid fa-floppy-disk me-2"></i>Save</button>
                </div>
            </div>

        </form>

        <form method="Post" asp-action="ProfileChangePassword" class="d-flex align-items-end">
               
            <div class="form-group">
                <label class="form-label">New Password</label>
                <div class="input-group">

                    <input name="Password" type="password" class="form-control">
                    <button class="btn btn-secondary" type="Submit"><i class="fa-solid fa-floppy-disk me-2"></i>Save</button>
                </div>
            </div>

             <div class="hide-open-password col-1  d-flex justify-content-center" >
                    <button type="button" id="hide-open-button" class=" btn rounded-circle border-0"><i class="fa-solid fa-eye fa-lg "></i></button>
                    </div>

            @if (ViewData["result"] != null && ViewData["result"] == "Password Changed")
            {
                <span class="text-success"> Password Updated</span>
            }

        </form>


    </div>
</div>

</div>